html {
  scroll-behavior: smooth;
}
body {
  background: #e5e5e5;
  font-family: roboto;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.container {
  margin: 0 auto;
  width: 97%;
}
.menu-ul {
  display: none;
}
.font-bold {
  font-weight: 700;
}
.font-white {
  color: #ffffff;
}
.font-big {
  font-size: 36px;
}
.menu-color {
  height: 50px;
  background: #4e4e4e;
  color: #f1f1f1;
}
.menu-link {
  text-decoration: none;
  color: #f1f1f1;
}
.menu-color .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  background-image: url("media/header-mobile.png");
  height: calc(100vh - 50px);
  background-size: cover;
}
.shadow {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
}
header .container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.header-title {
  width: 90%;
}
.header-subtitle {
  margin: 62px 0 43px 0;
}
.header-btn {
  text-decoration: none;
  padding: 14px 58px 14px 57px;
  border: 3px solid #ffffff;
  box-sizing: border-box;
}
.specialists-section {
  background: #f1f1f1;
  justify-content: center;
  padding: 14px 14px 100px;
}
.specialists-title {
  padding-top: 20px;
  margin: 0 0 78px;
  display: flex;
  justify-content: center;
}
.specialist-photo {
  border-radius: 50%;
  height: 200px;
  aspect-ratio: 1;
  background-color: #907d7d;
  background-size: contain;
  margin: 0 auto;
}
.specialist-one-face {
  background-image: url("media/specialist1.png");
}
.specialist-two-face {
  background-image: url("media/specialist2.png");
  background-size: contain;
}
.specialist-section {
  display: flex;
  gap: 60px;
  align-items: center;
  margin-top: 60px;
  flex-direction: column;
}
.specialist-name {
  margin-bottom: 12px;
}
.offers-section {
  padding: 76px 0 45px 0;
  background: #405d78;
}
.specialist-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.offers-title {
  margin: 0 auto 60px;
  font-size: 26px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.offers-section .container {
  align-items: center;
}
.grid-container {
  margin: 0 auto;
  display: grid;
  grid-gap: 42px;
  grid-template-columns: auto;
  justify-content: center;
}
.grid-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  height: 340px;
  aspect-ratio: 1;
  background-color: #f1f1f1;
  font-size: 24px;
}
.grid-box p:nth-of-type(2) {
  font-size: 18px;
}
.grid-dot {
  height: 38px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #e07a64;
  position: absolute;
  left: -19px;
  top: -19px;
}
footer {
  height: 141px;
  padding: 14px;
  background: #4e4e4e;
}
footer .container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.footer-icn {
  margin-top: 18px;
  font-size: 28px;
  display: flex;
  gap: 18px;
}
@media screen and (min-width: 1024px) {
  .container {
    width: 960px;
  }
  .menu-ul {
    display: flex;
    gap: 47px;
  }
  .menu-link-contact {
    cursor: not-allowed;
  }
  header {
    background-image: url("media/header-pc.png");
    background-size: cover;
  }
  .shadow {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.15);
  }
  .header-title {
    width: 65%;
  }
  .header-subtitle {
    margin: 62px 0 43px 0;
  }
  .header-btn {
    text-decoration: none;
    padding: 14px 56px 14px;
    border: 3px solid #ffffff;
    transition-duration: 1s;
  }
  .header-btn:hover {
    background: #ffffff;
    color: #000000;
  }
  .specialists-section {
    padding: 50px 0 50px 0;
  }
  .specialists-title {
    padding: 0;
    justify-content: left;
  }
  .header-btn:hover {
    background: #ffffff;
    color: #000000;
  }
  .specialist-section {
    flex-direction: row;
  }
  .offers-title {
    margin: 0 auto 83px;
    font-size: 36px;
    justify-content: left;
  }
  .specialist-section:nth-of-type(even) {
    flex-direction: row-reverse;
    text-align: right;
  }
  .offers-section {
    padding: 50px 50px 64px 50px;
  }
  .grid-container {
    display: grid;
    grid-gap: 63px;
    grid-template-columns: auto auto auto;
    justify-content: center;
  }
  .grid-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    height: 200px;
    aspect-ratio: 1;
    background-color: #f1f1f1;
    font-size: 24px;
    transition-duration: 0.5s;
  }
  .grid-box:hover {
    transform: scale(1.05);
  }
  .grid-dot {
    height: 22px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #e07a64;
    position: absolute;
    left: -11px;
    top: -11px;
  }
  footer {
    height: 71px;
    padding: 0 82px 0 94px;
    height: 74px;
    background: #4e4e4e;
  }

  footer .container {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
  }
}
@media (max-width: 576px) {
  .grid-box {
    height: 265px;
  }
}
